// 设置复用的阴影
@mixin shadow {
    box-shadow: 4px 4px 5px #888888;
}

$calendar-width:500px;
$calendar-height:650px;
$calendar-color:#FFFFCC;
.calendar {
    width: $calendar-width;
    height: $calendar-height;
    margin: 0 auto;
}

$date-height:400px;
$date-width:380px;
.calendar-container {
    width: $date-width;
    height: $date-height;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -$date-height/2;
    margin-left: -$date-width/2;
    background-color: $calendar-color;
    @include shadow;
}

$choose-height:50px;
$date-title-height:50px;
$date-content-height:300px;
// date-show的高度不用重新定义
$date-show-height:$date-content-height+$date-title-height;
.date-show {
    width: $date-width;
    height: $date-show-height;
}

.choose {
    width: $date-width;
    height: $choose-height;
    line-height: 3;
    background-color: #fff;
}

$year-show-width:82px;
.year-choose-show,
.month-choose-show {
    cursor: pointer;
    display: inline-block;
    width: $year-show-width;
}

.year-choose,
.month-choose {
    float: left;
    width: $date-width/2;
    text-align: center;
}

$hidden-choose-item-height:217px;
.year-hidden-choose,
.month-hidden-choose {
    position: absolute;
    height: $hidden-choose-item-height;
    width: $year-show-width;
    overflow: scroll;
    opacity: 0.99;
    z-index: 999;
    display: none;
    background-color: #fff;
    @include shadow;
}

.year-hidden-choose {
    left: 32px;
}

.month-hidden-choose {
    left: 198px;
}

.icon-circle-right,
.icon-circle-left {
    cursor: pointer;
}

.date-title {
    width: $date-width;
    height: $date-title-height;
}

$date-item-width:$date-width/7;
$date-item-height:$date-content-height/6;
.date-title-item,
.date-content-item {
    float: left;
    width: $date-item-width;
    height: $date-item-height;
    text-align: center;
    cursor: pointer;
}
.date-title-item{
    line-height: 3;
}
$lunar-font-color:#999;
.date-content-item{
    line-height: 1.6;
    .num{
        font-size: 18px;
        font-weight: bold;
    }
    .lunar{
        color:$lunar-font-color;
        font-size:13px
    }
}
.date-content {
    width: $date-width;
    height: $date-content-height;
    float: left;
    background-color: #fff;
}

// 不是本月的日期
.not-this-month {
    opacity: 0.7;
    background-color: #eeeeee;
}
// 节假日颜色
$weekend-color:#e02d2d;
.weekend {
    color: $weekend-color;
}
