.calendar {
  width: 500px;
  height: 650px;
  margin: 0 auto; }

.calendar-container {
  width: 380px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -190px;
  background-color: #FFFFCC;
  box-shadow: 4px 4px 5px #888888; }

.date-show {
  width: 380px;
  height: 350px; }

.choose {
  width: 380px;
  height: 50px;
  line-height: 3;
  background-color: #fff; }

.year-choose-show,
.month-choose-show {
  cursor: pointer;
  display: inline-block;
  width: 82px; }

.year-choose,
.month-choose {
  float: left;
  width: 190px;
  text-align: center; }

.year-hidden-choose,
.month-hidden-choose {
  position: absolute;
  height: 217px;
  width: 82px;
  overflow: scroll;
  opacity: 0.99;
  z-index: 999;
  display: none;
  background-color: #fff;
  box-shadow: 4px 4px 5px #888888; }

.year-hidden-choose {
  left: 32px; }

.month-hidden-choose {
  left: 198px; }

.icon-circle-right,
.icon-circle-left {
  cursor: pointer; }

.date-title {
  width: 380px;
  height: 50px; }

.date-title-item,
.date-content-item {
  float: left;
  width: 54.28571px;
  height: 50px;
  text-align: center;
  cursor: pointer; }

.date-title-item {
  line-height: 3; }

.date-content-item {
  line-height: 1.6; }
  .date-content-item .num {
    font-size: 18px;
    font-weight: bold; }
  .date-content-item .lunar {
    color: #999;
    font-size: 13px; }

.date-content {
  width: 380px;
  height: 300px;
  float: left;
  background-color: #fff; }

.not-this-month {
  opacity: 0.7;
  background-color: #eeeeee; }

.weekend {
  color: #e02d2d; }
