.calendar {
  width: 500px;
  height: 650px;
  margin: 0 auto; }

.calendar-container {
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -150px; }

.calendar-container,
.choose,
.date-show,
.date-title,
.date-content {
  width: 300px; }

.choose {
  height: 50px;
  border: 1px solid #000; }

.date-title {
  height: 50px;
  border: 1px solid #000; }

.date-title-item,
.date-content-item {
  float: left;
  width: 42.85714px;
  height: 50px;
  text-align: center;
  vertical-align: middle; }

.date-content {
  height: 250px;
  float: left;
  border: 1px solid #000; }

.date-show {
  height: 300px; }
